* {
    padding: 0px;
    margin: 0px;
}

html {
    background: #393939;
    font-family: sans-serif;
}

.clear {
    clear: both;
}

#current-page {
    pointer-events: none;
    background-color: black;
    color: white;
    font-size: 16pt;
}




.box-zoom {
    transition: transform 0.5s;
}

.box-zoom:hover {
    transform: scale(1.05);
    z-index: 10;
}

.nav-zoom {
    transition: transform 1s;
}

.nav-zoom:hover {
    transform: scale(1.3);
}




#nav-wrapper {
    width: 100%;
    margin: 0px;
    margin-bottom: 100px;

    background-color: #36FFD7;
    border-bottom: black 5px solid;

    text-align: center;
    line-height: 50px;
}

#nav-wrapper ul {
    list-style: none;
}

#nav-wrapper ul h1 {
    font-weight: 900;
}

#nav-wrapper ul li {
    float: left;
    width: 20%;

    font-family: sans-serif;
    font-weight: bold;
}

#nav-wrapper ul li:hover {
    background: black;
    transition: background 1s ease;
}

#nav-wrapper ul li h1:hover {
    background: #36FFD7;
}

nav a {
    text-decoration: none;
    display: block;
}

nav a:link {
    color: black;
}

nav a:visited {
    color: black;
}

nav a:hover {
    color: white;
    transition: color 1s ease;
}

nav a:active {
    color: white;
}




#wrapper {
    background-color: #414141;

    margin: auto;
    margin-bottom: 100px;

    padding-top: 30px;

    box-shadow: 5px 5px 10px;
}




#title-wrapper {
    background-color: #38EBDC;

    line-height: 25px;
    margin: auto;
    margin-bottom: 100px;

    padding: 15px;

    text-align: center;

    box-shadow: 5px 5px 10px;
}

#title-wrapper h1 {
    margin: auto;
    margin-top: 0px;
    margin-bottom: 10px;

    width: 300px;
    border-bottom: black solid 2px;
}




#footnav-wrapper {
    width: 100%;
    line-height: 50px;

    margin: auto;

    background-color: #3ECFFF;

    border-top: 5px solid black;
}

#footnav-wrapper ul {
    list-style: none;
}

#foot-wrapper {
    background-color: #262626;
    color: white;

    width: 100%;
    line-height: 50px;

    border-top: 5px solid black;

    text-align: center;
}



